body {
  margin: 0px;
  width: 100vw;
  overflow-x: hidden;
}
.CodeMirror {
  /* height: max-content;
      width: max-content; */
  height: calc(100vh - (32px + 72px + 5px + 17px + 5px + 10px));
}
.remote-caret {
  position: absolute;
  border-left: black;
  border-left-style: solid;
  border-left-width: 2px;
  height: 1em;
}
.remote-caret > div {
  position: relative;
  top: -1.05em;
  font-size: 13px;
  background-color: rgb(250, 129, 0);
  font-family: serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  user-select: none;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
  z-index: 3;
}

/* invert when cursor is on first line so we don't clip through the editor */
.CodeMirror-line:first-child .remote-caret > div {
  top: 1.05em;
}
